*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* obsah HLAVICKY */
header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #4d4d4d;
}

header h1{
    color: #fff;
    font-size: 2.2em;
    letter-spacing: 5px;
    text-decoration: underline 3px black;
    text-transform: uppercase;
    line-height: 2em;
}
/* konec obsahu HLAVICKY */

/* začátek obsahu MAIN  */
main{
    width: 90%;
    padding: 2vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vw;
    background-color: #4d4d4d;
    border-radius: 2vw;
}

.kalendar{
    display: flex;
    flex-direction: column;
}

main button{
    padding: 1vw 3vw;
    margin: 1vw auto;
    background-color: #cc0000;
    font-size: 1.2em;
    border-radius: 2vw;
    color: #fff;
    box-shadow: 8px 5px 5px 5px #000;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

main button:hover{
    background-color: #fff;
    color: #000;
}

#skrytBtn{
    display: none;
    margin-top: 5vw;
    background-color: #000;
    color: #fff;
    padding: 7px;
}

#skrytBtn:hover{
    background-color: #ff4d4d;
    color: #000;
}

main p{
    font-size: 1.7rem;
    color: #fff;
}

#pondeli1{
    background-color: #000;
}

#utery1{
    background-color: #000;
}

#streda1{
    background-color: #000;
}

#ctvrtek1{
    background-color: #000;
}

#patek1{
    background-color: #000;
}
/* konec obsahu MAIN */
